{% load staticfiles i18n %}<!doctype html>
<html>
<head>
    <title>RightNowWeb (Read-Only)</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="shortcut icon" href="http://www.anpi.com/favicon.ico?v=0" />

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="stylesheet" href="{% static './css/react-bootstrap-table-all.min.css' %}">

<!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{% static 'js/react.min.js' %}"></script>
    <script src="{% static 'js/react-dom.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.28.3/react-bootstrap.min.js"></script>
    <script src="https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table.min.js"></script>
    <script src="{% static 'js/rnw.js' %}" type="text/babel"></script>
<style type="text/css">
.modal.modal-wide .modal-dialog {
width: 90%;
}
.modal-wide .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

</style>
</head>
<body>
  <div id="messages"></div>
  <script type="text/babel">
  var Alert = ReactBootstrap.Alert;

  const alertInst = (
    <Alert bsStyle="warning">
      <strong>Loaded!!!</strong> and looking good...
    </Alert>
  );
//  React.render(alertInst, document.getElementById("messages") )
  </script>
  <div id="content"></div>
  <div id="tabbed">
    <h2>Loading...</h2>
  </div>

</body>
<script>
// $(document).ready(function() {
//  $.ajaxSetup({ cache: false });
// });
</script>
</html>
