{% extends "base.html" %}

{% block content %}
    <h1>Incidents</h1>
                  Search <input type="Text" size="20" onchange="document.location='/rnw/api/incidents/?search='+this.value"/>
    <ul>
        {% for object in results %}
            <li>{{ object.incidentid }}
              <a href="{{ object.incidentid }}">{{ object.subject }}</a>
            </li>
        {% empty %}
                <p>No items.</p>
        {% endfor %}
    </ul>

    {% if True %}
        <div class="pagination">
            <span class="page-links">
                {% if previous %}
                    <a href="{{ previous }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Records: {{ count }}.
                </span>
                {% if next %}
                    <a href="{{ next }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}


{% endblock %}
