{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
    <h1>Create/Update</h1>
    <form id="incident_form" method="post" action="." class="form">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
      {% endbuttons %}
    </form>
{% endblock %}

