{% extends "base.html" %}

{% block content %}
    <h1>Detail</h1>
    <p>{{ subject }}</p>
    Threads:
    <ul>
    {% for thread in threads %}
      <li>{{ thread.createdtime }}<br/>
        {% if thread.contenttype == "1" %}<pre>{% endif %}
          {{ thread.text}}
          {% if thread.contenttype == "1" %}</pre>{% endif %}
      </li>
    {% endfor %}
    </ul>
    <a href="{% url 'rnw:list' %}">List</a>
{% endblock %}
